In [ ]:
def foo():
  print("Hello everyone! How are you doing?")

foo()

Hello everyone! How are you doing?

In [ ]:
def poo():
  print("-"*50) # code that runs before
  foo()
  print("-"*50) # code that runs after

poo()

--------------------------------------------------
Hello everyone! How are you doing?
--------------------------------------------------

In [ ]:
def pretty(func): # function takes input as a function and returns a function
  def inner():
    print("-"*50) # code that runs before
    func()
    print("-"*50) # code that runs after

  return inner

In [ ]:
new_func = pretty(foo)

new_func()

--------------------------------------------------
Hello everyone! How are you doing?
--------------------------------------------------

In [ ]:
@pretty
def soo():
  print("this is amazing")

soo()

--------------------------------------------------
this is amazing
--------------------------------------------------

In [ ]:
x = 5 # initial data

x = 3*x

x += 1

print(x) # rollback is not possible

16

In [ ]:
x = 5

x1 = x*5
x2 = x1+1 # too many variables

In [ ]:
x = 5

def mutation_1(x):
    x = 2*x
    x += 1

    return x

x1 = mutation_1(x)
print(x)

In [ ]:
# map(func, iterable)

a = [1,2,3,4,5]

# multiply each element of list by 2 and save it in a list
m = list(map(lambda x: x*2, a))
m

[2, 4, 6, 8, 10]

## Convert the given heights from a list into to t-shirt sizes.
- h < 150 → S
- h >= 150 and h < 180 → M
- h >= 180 → L

In [ ]:
def complex_logic(height):
  if height < 150:
      return "S"
  elif height >= 150 and height < 180:
      return "M"
  else:
      return "L"

In [ ]:
heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]

In [ ]:
sizes = list(map(complex_logic, heights))
sizes

['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

In [ ]:
A = [1,0,0,1,1,1,0,0,0,1,0,1]
B = [0,0,1,1,0,1,1,1,0,0,0,0]

C = list(map(lambda x,y: x == y, A, B))
C

[False, True, False, True, False, True, False, False, True, False, True, False]

In [ ]:

# apply map function on 5 lists of marks of 5 different subjects. Output should be list of average marks

In [ ]:
x = list(range(1,11))
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# filter(func, iterable)

f = list(filter(lambda y: y%2 == 0, x))
f

[2, 4, 6, 8, 10]

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]

In [ ]:
result = list(zip(b,a))
result

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
a = [1,2,3,4,5,6]
b = ["a", "b", "c", "d", "e"]
result = list(zip(a,b))
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
a = [1,2,3]
b = ["a", "b", "c", "d", "e"]
c = ["x", "y", "z", "m", "n"]

list(zip(a,b,c))

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [ ]:
from functools import reduce

a = [1,2,3,4,5]

result = reduce(lambda x,y: x+y, a)
result

15

In [ ]:
#Give the element with maximum value from a given list of elements.
a = [1,2,5,3,4]
result = reduce(lambda x,y:x if x>y else y, a)
result

5

In [ ]:
reduce(max, a) # this is wrong

In [ ]:
max(a)

5

In [ ]:
x1 = list(range(10000))

In [ ]:
%%timeit
max(x1)

199 µs ± 53.1 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
%%timeit
reduce(lambda x,y:x if x >y else y, x1)

892 µs ± 10.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# Args and Kwargs

In [ ]:
def sum_number(x, y):
    return x + y

In [ ]:
sum_number(5,6)

11

In [ ]:
sum_number(5,6,7)

TypeError: sum_number() takes 2 positional arguments but 3 were given

In [ ]:
def summation(x,y,*rajnikant):  #summation(1,2,3,4) [3,4]
  result = x + y
  if rajnikant:
    result += sum(rajnikant)
  return result

In [ ]:
print(summation(1,2))
print(summation(1,2,3))
print(summation(1,2,3,4))
print(summation(1))

3
6
10

TypeError: summation() missing 1 required positional argument: 'y'

In [ ]:
if 3:
  print("hi")

In [ ]:
50 + sum([50,10])

110

In [ ]:
def create_person(name, age, gender):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    return Person

create_person(name = "Rohit", age = 1500, gender = "Male")

{'name': 'Rohit', 'age': 1500, 'gender': 'Male'}

In [ ]:
def create_person(name, age, gender, **extra_info):
    Person = {
        "name": name,
        "age": age,
        "gender": gender
    }

    if extra_info:
        Person.update(extra_info)

    return Person

create_person(name = "Rohit", age = 1500, gender = "Male", color = "blue", hobby = "chess")

{'name': 'Rohit',
 'age': 1500,
 'gender': 'Male',
 'color': 'blue',
 'hobby': 'chess'}

In [ ]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs

In [ ]:
sample_func(1, 2, 3, 4, a=5, b=6)

(1, 2, (3, 4), {'a': 5, 'b': 6})

In [ ]:
sample_func(1, 2, 3, 4)

(1, 2, (3, 4), {})

In [ ]:
sample_func(1, 2, 3, 4, 5)

(1, 2, (3, 4, 5), {})

In [ ]:
sample_func(1, 2)

(1, 2, (), {})

In [ ]:
sample_func(1, 2, a=5, b=6)

(1, 2, (), {'a': 5, 'b': 6})