In [ ]:
class Car:
  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage

In [ ]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 15)

In [ ]:
print(c1)

<__main__.Car object at 0x7813b01b34c0>

In [ ]:
x = 2
print(type(x))

<class 'int'>

In [ ]:
print(type(c1)) # __main__ means the object belongs to a class in the current code

<class '__main__.Car'>

In [ ]:
class Car:
  def __init__(self, name, mileage):
    self.name = name
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} -> {self.mileage}"

  def __add__(self, other): # other is an object of class car
    return self.mileage + other.mileage

  def __lt__(self, other):
    return self.mileage < other.mileage

  def __eq__(self, other):
    return self.mileage == other.mileage

In [ ]:
c1 = Car("Nexon", 12)
c2 = Car("Altroz", 12)

In [ ]:
print(c1)

Nexon -> 12

In [ ]:
c1 + c2

27

In [ ]:
c1 < c2
# __lt__(c1,c2)

True

In [ ]:
c1 > c2

False

In [ ]:
c1 == c2

True

In [ ]:
2 == 2

True

In [ ]:
# Quiz
class A:
  def __init__(self, a):
    self.a = a
  def __add__(this, b):
    if isinstance(b, int):
      return A(this.a + b)
    return A(this.a + b.a)
  def __str__(self):
    return f"{self.a}"


one = A(1)
two = A(2)
three = A(3)

print(one + two + 100)
print(one + two + three)

103
6

In [ ]:
print(one + two + 100.0)

AttributeError: 'float' object has no attribute 'a'

In [ ]:
class Parent:
  def __init__(self):
    #self.a = a
    print("parent class")

class Child(Parent):
  def __init__(self):
    #self.a = a
    print("child class")

In [ ]:
p = Parent()

parent class

In [ ]:
c = Child()

child class

In [ ]:
class SchoolMember:
  def __init__(self,name):
    self.name = name

class Student(SchoolMember):
  def __init__(self, name, grade):
    self.grade = grade

class Staff(SchoolMember):
  def __init__(self, name, salary):
    self.salary = salary

class Teacher(Staff):
  def __init__(self, name, salary, subject):
    self.subject = subject

In [ ]:
s1 = Student("Krishna","A")

print(type(s1))

<class '__main__.Student'>

In [ ]:
s1.grade

'A'

In [ ]:
s1.name # access to parent class property denied

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
from typing import NamedTuple
class SchoolMember:
  def __init__(self,name):
    self.name = name

class Student(SchoolMember):
  def __init__(self, name, grade):
    super().__init__(name)
    self.grade = grade

class Staff(SchoolMember):
  def __init__(self, name, salary):
    super().__init__(name)
    self.salary = salary

class Teacher(Staff):
  def __init__(self, name, salary, subject):
    super().__init__(name,salary)
    self.subject = subject

In [ ]:
s1 = Student("Krishna","A")

print(type(s1))

<class '__main__.Student'>

In [ ]:
s1.name

'Krishna'

In [ ]:
t1 = Teacher("Pulkit",1000,"Python")

print(t1.name, t1.salary, t1.subject)

Pulkit 1000 Python

In [ ]:
class A:
    def do_something(self):
        print("I do something!", end=" ")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!", end=" ")

b = B()
c.do_something()

AttributeError: 'Child' object has no attribute 'do_something'

In [ ]:
class BankAccount:
  def __init__(self, balance):
      self.balance = balance

  def withdrawl(self, amount):
      self.balance -= amount

  def deposit(self, amount):
      self.balance += amount

In [ ]:
b1 = BankAccount(10000)

In [ ]:
b1.deposit(5000)

b1.balance

15000

In [ ]:
b1.withdrawl(15000)

b1.balance

0

In [ ]:
b1.balance = 12345567890

print(b1.balance)

12345567890

In [ ]:
class BankAccount:
  def __init__(self, balance):
      self.__balance = balance # private property

  # setters
  def withdrawl(self, amount):
      self.__balance -= amount

  def deposit(self, amount):
      self.__balance += amount

  # getter
  def check_balance(self):
    return self.__balance

In [ ]:
b2 = BankAccount(1000)

In [ ]:
b2.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [ ]:
b2.deposit(1000)
b2.withdrawl(500)

In [ ]:
b2.check_balance()

1500

In [ ]:
b2.__balance = 0

In [ ]:
b2.check_balance()

1500

In [ ]:
dir(b2)

['_BankAccount__balance',
 '__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdrawl']

In [ ]:
b2._BankAccount__balance = 0

b2.check_balance()

0

In [ ]:
b2.__dict__

{'_BankAccount__balance': 1000}

In [ ]:
b2.quantity = 10
b2.__dict__

{'_BankAccount__balance': 1000, 'quantity': 10}

In [ ]:
b2.__balance = 10

In [ ]:
b2.__dict__

{'_BankAccount__balance': 1000, 'quantity': 10, '__balance': 10}

### Least frequent from back

In [ ]:
aaaadfhgajshfdmmmssssmmm

ajjaajja

In [ ]:
#s = "aaaadfhgajshfdmmmssssmmm"
s = "ajjaajja"
d = {}
for i in s:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1

print(d)

{'a': 4, 'j': 4}

In [ ]:

m = min(d.values())
sub = {}
for i,j in d.items():
  if j == m:
    sub[i] = j

def check(sub):
  if len(sub) == 1:
    return list(sub.keys())[0]

  for i in range(len(s)-1,-1,-1):
    if s[i] in sub:
      return s[i]

check(sub)

'a'

In [ ]:
list(d.keys())[0]

'a'

## scaler solution

In [ ]:
def count_char(string):
  hash = {}
  for ch in string[::-1]:
    if hash.get(ch, None) != None:
      hash[ch] += 1
    else:
      hash[ch] = 1

  least_freq = (None, float("inf"))

  for ch, freq in hash.items():
    if hash[ch] < least_freq[1]:
      least_freq = (ch, hash[ch])

  return least_freq[0]