**Q1. Palindrome strings**

Fill in the blank space to get palindromic strings present in the list using the lambda function:

**Note:** A palindrome is any string that reads the same forward and backward (e.g., "racecar" or "aaa").

```python
arr = ["php", "w3r", "python", "aaa", "java"]
result  = _________
```

In [25]:
arr = ["php", "w3r", "python", "aaa", "java"]
result  = list(map(lambda str: str == str[::-1], arr))
print(result)
result  = list(filter(lambda str: str == str[::-1], arr))
print(result)

[True, False, False, True, False]
['php', 'aaa']

**Q2. odd lambda**

What will be the output of the following code snippet:

```python
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")
```

In [26]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue
    else:
        print(i, end=" ")

0 2 4 6 8

**Q3. lambda in python**

What will be the output of the following code snippet:

```python
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())
```

In [28]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

**Q4. words of length**

**Problem Description**

Write a Python function that takes a string and a length value as input arguments and returns the words from the string whose length is equal to the provided input length value.

*In other words, you will split the string into individual words and then gather only those words that match the specific length given.*

In [30]:
def LengthSequence(string, length):
    '''string => a string
       length => an integer representing required length of words which are be returned'''
    result= []
    # YOUR CODE GOES HERE
    # result = [word for word in string.split() if len(word) == length]
    result = list(filter(lambda word: len(word) == length, string.split()))

    return result

string = "The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over"
print(LengthSequence(string, 5))

['world', 'start']

**Q5. 2nd lowest**

**Problem Description**

Complete the Python function second_lowest() to find the second-lowest grade of students from the given names and grades of each student using lists and lambda function. For the input, the number of students, names, and the grades of each student were given.

In [32]:
def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student

    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''

    student_data, second_low_score, second_names = None, None, None

    # Your code starts here
    student_data = [[x, y] for x, y in zip(students, scores)] # list(zip(students, scores))
    second_low_score = sorted(set(scores))[1]
    second_names = [name for name, score in student_data if score == second_low_score]

    # Your code ends here
    return student_data, second_low_score, second_names

print(second_lowest(['S ROY', 'B BOSE', 'N KAR', 'C DUTTA', 'G GHOSH'], [1, 3, 2, 1, 1]))

([['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G GHOSH', 1]], 2, ['N KAR'])

**AQ1. Student Records Processing**

You are given a list of student records. Each record is a dictionary that contains the student's name, age, and a list of their grades.

**Task:** Complete the given Python function that processes this list and returns the list of student records whose age are grearter than or equal to 18

1. **Filtering:** Remove any students who are under 18 years old.
2. **Transformation:** For each of the remaining students, calculate their average grade and add this information to their record.
3. **Output Formatting:** The function should be **decorated via a decorator** to return a string where each student's record is on a new line, formatted as: "Name: [name], Age: [age], Average Grade: [average_grade]", with the average grade rounded to two decimal places.

In [55]:
def output_formatter(func):
    # complete the decorator
    def wrapper(students):
        students_print_list = func(students)
        formatted_output = []
        for student in students_print_list:
            formatted_output.append(f"Name: {student['name']}, Age: {student['age']}, Average Grade: {student['average_grade']}")
        return "\n".join(formatted_output)
    return wrapper

# decorate the function
@output_formatter
def process_students_data(students):
    # complete the function
    filtered_students = [student for student in students if student['age'] >= 18]
    # Use dictionary unpacking in python versions < 3.19
    # processed_students = [{**student, 'average_grade': round(sum(student['grades']) / len(student['grades']), 2)} for student in filtered_students]
    processed_students = [student | {'average_grade': round(sum(student['grades']) / len(student['grades']), 2)} for student in filtered_students]
    return processed_students

print(process_students_data([
    {'name': 'Alice', 'age': 17, 'grades': [88, 90, 92]},
    {'name': 'Bob', 'age': 19, 'grades': [76, 80, 78]},
    {'name': 'Charlie', 'age': 18, 'grades': [90, 85, 85]}
]))

Name: Bob, Age: 19, Average Grade: 78.0
Name: Charlie, Age: 18, Average Grade: 86.67

**AQ2. What of What**

What will be the output of the following code?

```python
def func1(x):
    return lambda a, b: x * a + b


function = func1(5)
print(function(3, 2))
```

In [56]:
def func1(x):
    return lambda a, b: x * a + b


function = func1(5)
print(function(3, 2))

17

**AQ3. High order fibonacci**

You are given a number n as input, write a higher order function function that returns another function which on execution returns the first n numbers of fibonacci sequence.

In [6]:
def function(n):
    # write your code here
    def fib_function():
        fib_seq = [0, 1]
        for i in range(2, n):
            fib_seq.append(fib_seq[i - 2] + fib_seq[i - 1])
        return fib_seq[0:n]
    return fib_function

for i in range(1, 11):
  print(f"fib({i}) = {function(i)()}")

fib(1) = [0]
fib(2) = [0, 1]
fib(3) = [0, 1, 1]
fib(4) = [0, 1, 1, 2]
fib(5) = [0, 1, 1, 2, 3]
fib(6) = [0, 1, 1, 2, 3, 5]
fib(7) = [0, 1, 1, 2, 3, 5, 8]
fib(8) = [0, 1, 1, 2, 3, 5, 8, 13]
fib(9) = [0, 1, 1, 2, 3, 5, 8, 13, 21]
fib(10) = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**AQ4. decorate the mean marks**

You are given a list of dictionaries, where each dictionary represents a student and contains their name, scores in multiple subjects (math, science and english) and their grace marks. You are also given a function that returns the average grace marks among the data i.e. sum of grace marks of all students divided by the number of students in data.

Your task it to complete the function `return_mean_grace` such that it **returns** the mean grace marks of data **rounded off by 2 decimal places** and decorate this function by completing the decorate decorator such that before returning the average grace marks it also **prints** the average marks attained by per student **rounded off by 2 decimal places**.

In [1]:
def decorate(function):
    def wrapper(students_data):
        # write your code below this comment
        for student in students_data:
            scores = student['scores'].values()
            average_score = round(sum(scores) / len(scores), 2)
            print(f"{student['name']}: {average_score}")
        # write your code above this comment
        return function(students_data)
    return wrapper


@decorate
def return_mean_grace(students):
    # write your code below this comment
    grace_marks = [student['grace_marks'] for student in students]
    return round(sum(grace_marks)/len(grace_marks), 2)

print(
    return_mean_grace([
        {'name': 'Alice', 'scores': {'math': 85, 'science': 90, 'english': 88}, 'grace_marks': 5},
        {'name': 'Bob', 'scores': {'math': 78, 'science': 82, 'english': 85}, 'grace_marks': 4},
        {'name': 'Charlie', 'scores': {'math': 92, 'science': 88, 'english': 95}, 'grace_marks': 6},
        {'name': 'David', 'scores': {'math': 88, 'science': 92, 'english': 90}, 'grace_marks': 7},
        {'name': 'Eve', 'scores': {'math': 95, 'science': 85, 'english': 92}, 'grace_marks': 8}
    ])
)

Alice: 87.67
Bob: 81.67
Charlie: 91.67
David: 90.0
Eve: 90.67
6.0

**AQ5. Decorate or not**

What will be the output of the following Python code?

```python
def decorate(function):
    def wrapper(a, b):
        return function(a, b) * 10
    return wrapper

@decorate
def func(a, b):
    return a + b

print(func(1, 2))
```

In [2]:
def decorate(function):
    def wrapper(a, b):
        return function(a, b) * 10
    return wrapper

@decorate
def func(a, b):
    return a + b

print(func(1, 2))

30

**AQ6. Split the string**

Given the following code snippet, what will be the output?

```python
sentence = "Python is fun to learn"
words = sentence.split()
new_list = []
for word in words:
    if len(word) > 3:
        new_list.append(word.upper())
print(new_list)
```

In [3]:
sentence = "Python is fun to learn"
words = sentence.split()
new_list = []
for word in words:
    if len(word) > 3:
        new_list.append(word.upper())
print(new_list)

['PYTHON', 'LEARN']