## Multiple Inheritance

In [ ]:
class A:
    def __init__(self, a):
        self.a = a

class B:
    def __init__(self, b):
        self.b = b

# C inherits from both A and B
class C(A, B):
    def __init__(self, a, b, c):
      # Assumption 1
      # super().__init__(a, b)

      # Assumption 2
      # super().__init__(a)
      # super().__init__(b)

      # Assumption 3
        A.__init__(self, a) # Syntax: Class_name.method_name()
        B.__init__(self, b)
        self.c = c

In [ ]:
c1 = C(1,2,3)

In [ ]:
c1.c

3

In [ ]:
A

B

C

D

# Can you use the same method for Single Inheritance as well ?
# YES

## MRO (Method Resolution Order)

In [ ]:
class A:
    x = 320

class B(A):
    x = 120

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass


e = E()
e.x

# E -> C -> B -> D -> A

120

In [ ]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

## Functional Programming

In [ ]:
# Imperative Approach:

numbers = [1, 2, 3, 4]
squared_numbers = []
for num in numbers:
    squared_numbers.append(num*num)

squared_numbers

[1, 4, 9, 16]

In [ ]:
# Functional Approach:

numbers = [1, 2, 3, 4]

def squared(x):
  return x * x

sq_numbers_fp = list(map(squared, numbers)) # Syntax: map(func, iterator) Iterator: list, tuple, string, sets
sq_numbers_fp

[1, 4, 9, 16]

In [ ]:
# numbers = {A: '2', B: '4'}
# for items in numbers.items():
#   print(items)

In [ ]:
def squared(x):
  return x * x

squared(2)

4

Why use functional programming?
1. Concise and Readable: With functional programming, you're often working with familiar mathematical functions. This makes code shorter and intuitive. For instance, the map, filter, and reduce functions in Python are direct implementations of functional programming concepts.

2. More Maintainable: Since there are no side effects from mutable data, tracking errors becomes simpler. Imagine not having to worry about a variable's value being unexpectedly changed elsewhere in your program!

3. Efficient: Without the constant need to update data states, some functional programs can outperform their imperative counterparts.

## Lambda fucnction

In [ ]:
## function_name = lambda arguments: expression

In [ ]:
(lambda x: x**2)(2)

4

In [ ]:
square_num = lambda x: x**2
square_num(3)

9

In [ ]:
# lambda function

numbers = [1, 2, 3, 4]
squared_numbers = list(map(lambda x: x*x, numbers))
squared_numbers

[1, 4, 9, 16]

In [ ]:
## Lambda function to get the cube of a number

(lambda x: x**3)(3)

27

In [ ]:
## Addition of two numbers. Write a lambda function for it.

(lambda a,b : a + b)(4,5)

9

In [ ]:
## Multiply of two numbers. Write a lambda function for it.

(lambda a,b : a * b)(4,5)

20

In [ ]:
# Ternary Operator

# if condition:
#     x
# else:
#     y

# x if condition else y -> Ternary Operator

(lambda x: x if x > 5 else 0)(10)

10

In [ ]:
(lambda x: x if x > 5 else 0)(4)

0

In [ ]:
a = [1,5,7,8,0,2,3,5]
a

[1, 5, 7, 8, 0, 2, 3, 5]

In [ ]:
sorted_a = sorted(a)
sorted_a

[0, 1, 2, 3, 5, 5, 7, 8]

In [ ]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 70},
    {"name": "E", "marks": 60},
]

In [ ]:
students[0]

{'name': 'A', 'marks': 50}

In [ ]:
students[0] > students[1]

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [ ]:
get_value = lambda x: x["marks"]

In [ ]:
get_value(students[0])

50

In [ ]:
get_value(students[0]) > get_value(students[1])

False

In [ ]:
students

[{'name': 'A', 'marks': 50},
 {'name': 'B', 'marks': 100},
 {'name': 'C', 'marks': 40},
 {'name': 'D', 'marks': 70},
 {'name': 'E', 'marks': 60}]

In [ ]:
sorted(students,
       key = lambda x: x["name"],
       reverse= True)

[{'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'C', 'marks': 40},
 {'name': 'B', 'marks': 100},
 {'name': 'A', 'marks': 50}]

In [ ]:
sorted([1,2,3,4,5], reverse=True)

[5, 4, 3, 2, 1]

In [ ]:
sorted(students,
       key = lambda x: x["marks"],
       reverse= False)

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'B', 'marks': 100},
 {'name': 'D', 'marks': 100}]

In [ ]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
    {"name": "D", "marks": 100},
    {"name": "E", "marks": 60},
]

In [ ]:
sorted(students,
       key = lambda x: (x["marks"], x["name"]),
       reverse= True)

[{'name': 'D', 'marks': 100},
 {'name': 'B', 'marks': 100},
 {'name': 'E', 'marks': 60},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 40}]

## Higher Order Function

In [ ]:
def gen_exp(n):

    def exp(x):
        return x**n

    return exp

In [ ]:
gen_exp(5)

In [ ]:
type(gen_exp(5))

function

In [ ]:
exp_5 = gen_exp(5)

In [ ]:
exp_5(2)

32

In [ ]:
def gen_exp(n):

    print(n)

    def exp(x):
        return x**n

    return exp

exp_5 = gen_exp(5)

exp_5(2)

5

32

In [ ]:
def generate_square_function():
    def square(x):
        return x ** 2
    return square

# Create a square function using the higher-order function
calculate_square = generate_square_function()

# Now we can use calculate_square as a function to calculate the square of any number
result = calculate_square(5)
print(result)

In [ ]:
numbers = [1,2,3,4,5]

list(map(str, numbers))

['1', '2', '3', '4', '5']

In [ ]:
# Encapsulation

numbers= [1, 2, 3, 4]

def sq_num(numbers):
  squared_numbers = []
  for num in numbers:
      squared_numbers.append(num*num)

  return squared_numbers

sq_num(numbers)

[1, 4, 9, 16]

In [ ]:
print("String")

String

In [ ]:
print(123)

123