In [ ]:
s1 = {2,3,4,5}
s2 = {1,3,4,6,7,8}

In [ ]:
s1.symmetric_difference(s2)

{1, 2, 5, 6, 7, 8}

In [ ]:
s2.symmetric_difference(s1)

{1, 2, 5, 6, 7, 8}

In [ ]:
s1 ^ s2

{1, 2, 5, 6, 7, 8}

# OOPS

In [ ]:
# user defined class
class Student:
  # methods
  # properties
  pass

In [ ]:
# create an instance of student
s1 = Student() # s1 is an object

In [ ]:
type(s1)

__main__.Student

In [ ]:
s = set()
print(type(s))

<class 'set'>

In [ ]:
isinstance(s1, Student)

True

In [ ]:
isinstance(s, Student)

False

In [ ]:
isinstance(s, set)

True

# Polymorphism # methods and operators

In [ ]:
# + operator
print(56 + 35)

print("Pulkit" + "Aneja")

91
PulkitAneja

In [ ]:
list: pop()
set pop()

In [ ]:
class Student:
  def hello(self): # placeholder for the object of the class
    print("hello all")

s1 = Student()

In [ ]:
s1.hello()

hello all

In [ ]:
a = [1,2,3,4]
a.append(5) # append(a,5)

In [ ]:
class Student:
  def __init__(self, naam, umar):
    self.name = naam
    self.age = umar


s1 = Student("Raghav",28)

print(s1.name)
print(s1.age)

Raghav
28

In [ ]:
s2 = Student()

TypeError: Student.__init__() missing 2 required positional arguments: 'name' and 'age'

In [ ]:
s2 = Student("Rohit",26)

print(s2.name, s2.age)

Rohit 26

In [ ]:
class Dog:
  kind = "canine" # class variable

  def __init__(self, name):
    self.name = name

In [ ]:
d1 = Dog("Tommy")
d2 = Dog("Tuffy")

In [ ]:
print(d1.name, d2.name)

Tommy Tuffy

In [ ]:
print(d1.kind, d2.kind)

canine canine

In [ ]:
d1.name = "Scooby"

In [ ]:
d1.name

'Scooby'

In [ ]:
d1.kind = "Bull Dog" # d1 now has an instance variable kind and its value is bull dog

In [ ]:
d2.kind

'canine'

In [ ]:
d1.kind

'Bull Dog'

In [ ]:
d2.name = "Charlie"

In [ ]:
d2.name

'Charlie'

In [ ]:
class Student:
    name = "Bipin" # class variable
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def hello(self):
      print(f"Hello {self.name}")

s3 = Student("Ayush", 20)
s3.hello() # if instance and class variables have the same name, the instance variable will be called out by the object

Hello Ayush

# after class doubts

In [ ]:
d2.age = 3

In [ ]:
d2.age

3

In [ ]:
d1.age

AttributeError: 'Dog' object has no attribute 'age'