**Q1. salaries and job**

Fill in the _______ to get the required output (mentioned in the Code snippet).

```python
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(__________)) for row in db_rows]
print(db)
```

**Required Output:** `[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]`

In [7]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

**Q2. Palindromic Strings**

The following python function is written to filter the palindromes from the list of strings.

```python
def isPalindrome(my_list):

  palindromes = __________

  return palindromes
```

Which of the following code snippets will fulfill the required operation?

In [8]:
def isPalindrome(my_list):

  palindromes = list(filter(lambda w: w == w[::-1], my_list))

  return palindromes

isPalindrome(['ara', 'php', 'abracadabra', 'aabbaa'])

['ara', 'php', 'aabbaa']

**Q3. Pack and unpack**

What will be the output of the following code snippet:

```python
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))
```

In [9]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))

[(1, 4, 7, 9, 6, 3), (2, 5, 8, 8, 5, 2), (3, 6, 9, 7, 4, 1)]

**Q4. Map, reduce and filter**

**Problem Description**

In this exercise, complete the function func, which takes integers, names, and numbers as the parameters.

a. Use **map()** to return the list of the **squares of each number**.

b. Use **filter()** to return the list with only those names that have **less than or equal to seven letters**.

c. Use **reduce()** to return the **product of elements** of list numbers.

In [1]:
from functools import reduce
def func(integers, names, numbers):
    '''
    input:
    integers -> list of integers to perform the square operation on
    names -> list of names to filter out as per the condition
    numbers -> list of numbers whose product we want

    output:
    map_result -> output of integers list
    filter_result -> output of the names lsit
    reduce_result -> output of the numbers list
    '''
    map_result, filter_result, reduce_result = None, None, None

    # Your code stars here
    map_result = [i**2 for i in integers]
    filter_result = [name for name in names if len(name) < 8]
    reduce_result = reduce(lambda x, y: x*y, numbers)
    # Your code ends here

    return map_result, filter_result, reduce_result

print(func([1, 2, 3, 4, 5], ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], [4, 6, 9, 23, 5]))

([1, 4, 9, 16, 25], ['Alice', 'Bob', 'Charlie', 'David', 'Eve'], 24840)

**Q5. Check for valid email address**

**Problem Description**

Given a list of email addresses, return a list containing only valid email addresses in lexicographical order. A Valid email address must follow the following rules:
* It is of the form user@domain.com, user or domain can't be empty
* It must have a single @ in the address.
* The maximum length of the name before @ should be 20.

In [2]:
import re

def check(emails):
    '''
    input:
    emails -> list of emails to check

    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''

    verified_lex = None

    # Your code starts here
    verified_email_pattern = re.compile("^(?=.{1,20}@)[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$")
    verified_emails = [email for email in emails if verified_email_pattern.match(email)]
    verified_lex = sorted(verified_emails)

    # Your code ends here
    return verified_lex

emails = ['brian-23@scaler.com', 'brute_54@scaler.com', 'sara@scaler.com']
print(check(emails))

['brian-23@scaler.com', 'brute_54@scaler.com', 'sara@scaler.com']

**Q6. Variable Number of Arguments**

Create a function that takes any number of arguments and returns their sum and product in a tuple.

**Sample Input 1-**

1, 2, 3, 4

**Sample Output 1-**

(10, 24)

**Explanation-**

The function took four arguments and returned their sum and product in a tuple.

In [6]:
from functools import reduce

def calc(*numbers): #Your Code Goes Here):
    #Your Code Goes Here
    sum_result = sum(numbers)
    product_result = reduce(lambda x, y: x*y, numbers)
    return (sum_result, product_result)

print(calc(1, 2, 3, 4))

(10, 24)

**AQ1. Decorators**

What will be the output of the following Python code?

```python
def myDecorator(func):

    def new_func(n):
        return func(n) + '$'
    return new_func

@myDecorator
def myFunction(a):
    return(a)

# call the decorated function
print(myFunction('500'))
```

In [7]:
def myDecorator(func):

    def new_func(n):
        return func(n) + '$'
    return new_func

@myDecorator
def myFunction(a):
    return(a)

# call the decorated function
print(myFunction('500'))

500$

**AQ2. Reason for output**

Which option represents the statement that is responsible for generating [2, [2, 3, 2, 3], 8, 10] as the output in the following code?

```python
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))
```

In [8]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

**AQ3. Required mail IDs**

Given a list containing email ids, help Sam in retrieving all the emails which have "SAM" or "sam" in their names.

```python
ids = ["SAM@gmail.com", "Ram@gmail.com", "sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name = "sam"
result = list(filter(lambda x : ??? , ids))
print(result)
```

Complete the code snippet given above to return all the email ids in the list that have either the uppercase or lowercase name as a substring. Choose the correct option which can be used to fill the blank (???) to get the required output.

In [10]:
ids = ["SAM@gmail.com", "Ram@gmail.com", "sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name = "sam"
result = list(filter(lambda x : name in x.lower() , ids))
print(result)

['SAM@gmail.com', 'sam@gmail.com', 'samJohnson@iit.com', 'SAM@harvard.com']

**AQ4. Sort Strings**

**Problem Description**

Given a list of strings of varying lengths, complete the python function to sort the list of strings based on their lengths and return the sorted list.

**Note:** In case 2 strings have the same length, they are sorted in ascending order of their lexicographic index.

In [14]:
def sort_strings(str_list):
	#str_list-> list of strings

	# return the sorted list of strings on the basis of criteria mentioned

	# code starts here
	res = sorted(str_list, key = lambda x: (len(x), x))
	#code ends here

	return res

str_list = ['scaler', 'is', 'best']
print(sort_strings(str_list))
str_list = ['cccc', 'b', 'dd', 'aaa']
print(sort_strings(str_list))

['is', 'best', 'scaler']
['b', 'dd', 'aaa', 'cccc']
['b', 'a', 'dd', 'aaa', 'cccc']

**AQ5. Nested Sort**

**Problem Description**

You are given a nested list of strings of varying lengths.

For each list, sort the string on the basis of the number of times the character ‘a’ appears in the string such that the string having the most number of ‘a’ comes first in the lists.

Complete the python function and return the sorted list.

**Note:** If 2 strings has the same number of 'a', keep them in the same order as entered in the list.

In [3]:
def sort_strings(str_list):
	#str_list-> nested list of strings

	# return the sorted list of strings on the basis of number of times ‘a’ occurs

	# code starts here
	res = []
	for sl in str_list:
		res.append(sorted(sl, key = lambda x: -x.count('a')))
	#code ends here

	return res

str_list = [
    ['mango', 'banana', 'guava'],
    ['rose', 'sandalwood'],
    ['bccc', 'aaa', 'baac', 'c']
]
print(f"sort_strings({str_list}) = {sort_strings(str_list)}")

sort_strings([['mango', 'banana', 'guava'], ['rose', 'sandalwood'], ['bccc', 'aaa', 'baac', 'c']]) = [['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

**AQ6. Retail Store Sales Analysis**

**Background:** You are working with sales data from a retail store. The data is available in three lists: one containing the names of items sold, another with the corresponding sale amounts for each item, and a third list detailing overhead costs associated with each item.

**Task:** Write a Python function that takes these lists and a sales amount threshold as inputs and performs the following analysis:

1. Identify items with sales amounts greater than the given threshold.
2. For each such item, calculate its net profit, which is the sale amount minus the overhead cost.
3. Combine the item names with their calculated net profits.
4. Calculate the total net profit for all items that exceeded the sales threshold.

**Input Format:**

* items: A list of item names.
* sales: A list of sale amounts for each item.
* costs: A list of overhead costs for each item.
* threshold: A numeric sales threshold.

**Output Frormat:**

* A list of tuples, each containing the item name and its net profit for items with sales above the threshold.
* The total net profit from these items.

**Example Inputs:**

```
items = ["Book", "Pen", "Notebook", "Backpack", "Pencil"]
sales = [150, 20, 90, 200, 10]
costs = [100, 10, 50, 150, 5]
threshold = 50
```

**Example Output:**

```
[('Book', 50), ('Notebook', 40), ('Backpack', 50)]
Total Net Profit: 140
```

In [6]:
def analyze_sales_data(items, sales, costs, threshold):
    # complete the function
    profitable_sales = [(item, sale_amt - cost_amt) for item, sale_amt, cost_amt in zip(items, sales, costs) if sale_amt > threshold]
    # print(profitable_sales)
    total_net_profit = sum(profit for item, profit in profitable_sales)
    # print(total_net_profit)
    return (profitable_sales, total_net_profit)

items = ["Book", "Pen", "Notebook", "Backpack", "Pencil"]
sales = [150, 20, 90, 200, 10]
costs = [100, 10, 50, 150, 5]
threshold = 50
profit_sales, total_net_profit = analyze_sales_data(items, sales, costs, threshold)
print(f"{profit_sales}\nTotal Net Profit: {total_net_profit}")

[('Book', 50), ('Notebook', 40), ('Backpack', 50)]
Total Net Profit: 140