>[Unpacking](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=-KqxLQmAEwMe)

>[Collections (Lists, Sets, Tuples etc...)](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=Mq2t0LBVrix3)

>>[Lists](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=bzBbFYoNFW88)

>>[Sets](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=UqB8VU0qQioM)

>>>[Comparison operators](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=7XTLPv-jQond)

>>[Tuples](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=zc1atH1DE4o0)

>>[Indexing & Slicing](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=nwCVWfndzDUG)

>>[Aggregation](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=AJ1EVji514V4)

>>[Sorting](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=stWh7rjf2a-Y)

>>[Iteration (Generative expressions)](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=iB03X9yBD8ie)

>>[Comprehensions](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=_wgpwW2Im1s6)

>>[Zipper](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=QCP6wG0ftRvm)

>>[Initialization techniques](#updateTitle=true&folderId=1ZidNJIQnfAq0VvXdWoMmWuXyct0PKmkb&scrollTo=hgqAeF8vFbFT)

# Unpacking

# Collections (Lists, Sets, Tuples etc...)

## Lists

## Sets

### Comparison operators

In [49]:
fruits = {'apple', 'apricot', 'pomegranate', 'papaya'}
a_letter_fruits = {f for f in fruits if f[0] == 'a'}

print(f"Subset - {a_letter_fruits} <= {fruits}: {a_letter_fruits <= fruits}")
print(f"Proper subset - {a_letter_fruits} < {fruits}: {a_letter_fruits < fruits}")

print(f"Super set - {a_letter_fruits} >= {fruits}: {a_letter_fruits >= fruits}")
print(f"Super set - {fruits} >= {a_letter_fruits}: {fruits >= a_letter_fruits}")

print(f"Proper super set - {a_letter_fruits} > {fruits}: {a_letter_fruits > fruits}")
print(f"Proper super set - {fruits} > {a_letter_fruits}: {fruits > a_letter_fruits}")

Subset - {'apple', 'apricot'} <= {'apple', 'pomegranate', 'apricot', 'papaya'}: True
Proper subset - {'apple', 'apricot'} < {'apple', 'pomegranate', 'apricot', 'papaya'}: True
Super set - {'apple', 'apricot'} >= {'apple', 'pomegranate', 'apricot', 'papaya'}: False
Super set - {'apple', 'pomegranate', 'apricot', 'papaya'} >= {'apple', 'apricot'}: True
Proper super set - {'apple', 'apricot'} > {'apple', 'pomegranate', 'apricot', 'papaya'}: False
Proper super set - {'apple', 'pomegranate', 'apricot', 'papaya'} > {'apple', 'apricot'}: True

## Tuples

## Indexing & Slicing

1. Indexing
    * [Negative indexing](#scrollTo=L4BmWa3NzIVp&line=2&uniqifier=1)
2. Slicing
    * [Standard slicing](#scrollTo=MKF7D-f10QjT&line=3&uniqifier=1)
    * [Special applications](#scrollTo=Pre9GtOAz8Y4&line=2&uniqifier=1)

In [28]:
### Negative indexing
name = "Venkatesh"
print(f"Last character in name = {name} is {name[-1]}")

Last character in name = Venkatesh is h

In [31]:
#### Standard slicings
nums = [1, 2, 3, 4, 5]
print(f"nums[0:2] = {nums[0:2]}")
print(f"nums[1:] = {nums[1:]}")
print(f"nums[:3] = {nums[:3]}")
print(f"nums[:] = {nums[:]}")

# Reverse lookups
print(f"nums[:-2] = {nums[:-2]}")
print(f"nums[-3:-1] = {nums[-3:-1]}")

nums[0:2] = [1, 2]
nums[1:] = [2, 3, 4, 5]
nums[:3] = [1, 2, 3]
nums[:] = [1, 2, 3, 4, 5]
nums[:-2] = [1, 2, 3]
nums[-3:-1] = [3, 4]

In [ ]:
#### Special applications

# Find if string is pallindrome
def is_pallindrome(str):
  return str == str[::-1]

## Aggregation
1. List aggregations
    * [Mathematical aggregations](#scrollTo=17wOu3Ad2Fkk&line=4&uniqifier=1)
    * [String joining](#scrollTo=qjlkAMbBBgwC&line=2&uniqifier=1)
2. Set aggregations
3. Logical aggregations

In [35]:
### Mathematical aggregations
import math

prices = [100, 102, 101, 105, 104]
print(f"sum({prices}) = {sum(prices)}")
print(f"min({prices}) = {min(prices)}")
print(f"max({prices}) = {max(prices)}")

#### Statistical aggregations & math lib
print(f"mean({prices}) = {sum(prices) / len(prices)}")
print(f"math.prod({prices}) = {math.prod(prices)}")
#### Weighted mean
weights = [*range(1, len(prices) + 1)]
print(f"Weighted average(prices = {prices}, weights = {weights}) = {math.sumprod(prices, weights) / sum(weights)}")

sum([100, 102, 101, 105, 104]) = 512
min([100, 102, 101, 105, 104]) = 100
max([100, 102, 101, 105, 104]) = 105
mean([100, 102, 101, 105, 104]) = 102.4
math.prod([100, 102, 101, 105, 104]) = 11249784000
Weighted average(prices = [100, 102, 101, 105, 104], weights = [1, 2, 3, 4, 5]) = 103.13333333333334

In [36]:
#### String joinings
sentence_words = ["This", "is", "a", "sentence"]
sentence = " ".join(sentence_words)
print(f"sentence({sentence_words}) = {sentence}")

sentence(['This', 'is', 'a', 'sentence']) = This is a sentence

In [39]:
### Logical aggregations

#### any
arr1 = [1, 2, 3, 4, 5]
def has_evens(nums):
    return any(n for n in nums if n % 2 == 0)
print(f"has_evens({arr1}) = {has_evens(arr1)}")

#### all
def has_all_evens(nums):
    return any(n for n in nums if n % 2 == 0)
print(f"has_all_evens({arr1}) = {has_all_evens(arr1)}")

has_evens([1, 2, 3, 4, 5]) = True
has_all_evens([1, 2, 3, 4, 5]) = True

In [47]:
### Set aggregations

fruits = {'apple', 'apricot', 'pomegranate', 'papaya'}
a_letter_fruits = {f for f in fruits if f[0] == 'a'} | {'avocado'}
vegetables = {'tomato', 'lettuce', 'cucumber'}

print(f"Fruits and vegetables Union - {fruits} | {vegetables}: {fruits | vegetables}")
print(f"Fruits intersect a_letter_fruits - {fruits} & {a_letter_fruits}: {fruits & a_letter_fruits}")
print(f"Fruits difference a_letter_fruits - {fruits} - {a_letter_fruits}: {fruits - a_letter_fruits}")
print(f"Symmetric difference - {fruits} ^ {a_letter_fruits}: {fruits ^ a_letter_fruits}")

Fruits and vegetables Union - {'apple', 'pomegranate', 'apricot', 'papaya'} | {'lettuce', 'tomato', 'cucumber'}: {'apple', 'lettuce', 'apricot', 'tomato', 'cucumber', 'pomegranate', 'papaya'}
Fruits intersect a_letter_fruits - {'apple', 'pomegranate', 'apricot', 'papaya'} & {'apple', 'avocado', 'apricot'}: {'apple', 'apricot'}
Fruits difference a_letter_fruits - {'apple', 'pomegranate', 'apricot', 'papaya'} - {'apple', 'avocado', 'apricot'}: {'pomegranate', 'papaya'}
Symmetric difference - {'apple', 'pomegranate', 'apricot', 'papaya'} ^ {'apple', 'avocado', 'apricot'}: {'avocado', 'pomegranate', 'papaya'}

## Sorting

In [ ]:
prices = [100, 102, 101, 105, 104]

print(f"median({prices}) = {sorted(prices)[len(prices) // 2]}")

## Iteration (Generative expressions)

In [ ]:

nums = [1, 2, 3, 4, 5]
def first_multiple(ls,x):
    ans = -1
    ''' input:ls-List of elements and x-indicates the integer
         output:Return ans from the list that is divisible by x'''

    # YOUR CODE GOES HERE
    ans = next((n for n in ls if n % x == 0), -1)
    return ans

## Comprehensions
1. List comprehensions
    * [Filtering](#scrollTo=EFL8jfvSrLnD&line=3&uniqifier=1)
    * [Special uses](#scrollTo=905de0c4&line=1&uniqifier=1)
2. [Set comprehensions](#scrollTo=V28Irwopqvdy&line=2&uniqifier=1)
3. [Dictionary comprehensions](#scrollTo=1tX04d_ksU5X&line=1&uniqifier=1)

In [11]:
#### 1. Simple filtering example
nums = [1, 2, 3, 4, 5]
nums_even = [x for x in nums if x % 2 == 0]
print(f"List comprehension filtering({nums}) = {nums_even}")

List comprehension filtering([1, 2, 3, 4, 5]) = [2, 4]

In [5]:

#### 1. Comprehension 2D list to 1D
nums_2d = [[1, 2, 3], [4, 5, 6]]
nums_1d = [num for row in nums_2d for num in row]
print(f"List comprehension({nums_2d}) = {nums_1d}")

#### 2. Add separator
separator = 0
nums_1d_with_separator = [num for n in nums_1d for num in (n, separator)]
print(f"List comprehension({nums_1d}, separator={separator}) = {nums_1d_with_separator}")

List comprehension([[1, 2, 3], [4, 5, 6]]) = [1, 2, 3, 4, 5, 6]
List comprehension([1, 2, 3, 4, 5, 6], separator=0) = [1, 0, 2, 0, 3, 0, 4, 0, 5, 0, 6, 0]

In [7]:
### Set comprehensions

nums_list = [1, 2, 3, 4, 1, 2, 3, 4]
nums_set = {x for x in nums_list}
print(f"Set comprehension({nums_list}) = {nums_set}")

Set comprehension([1, 2, 3, 4, 1, 2, 3, 4]) = {1, 2, 3, 4}

In [12]:
### Dictionary comprehensions

names = ["Alice", "Bob", "Charlie"]
names_with_length = {name: len(name) for name in names}
print(f"Dictionary comprehension of names to length({names}) = {names_with_length}")

Dictionary comprehension of names to length(['Alice', 'Bob', 'Charlie']) = {'Alice': 5, 'Bob': 3, 'Charlie': 7}

## Zipper
1. [Parallel iteration](#scrollTo=NRTO0QUvu26y&line=1&uniqifier=1)
2. [Build dictionary/JSON](#scrollTo=Jb0SYhLWtjCY&line=1&uniqifier=1)
3. [Unzipping](#scrollTo=9BKtra9Yuc3m&line=2&uniqifier=1)
4. Other specials
    * [Matrix transpose!](#scrollTo=iyzPXgZww0sx&line=2&uniqifier=1)
    * [Rolling window](#scrollTo=9cpB7aePyat6&line=3&uniqifier=1)

In [19]:
# Parallel iteration
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

In [18]:
# Build Dictionary/JSON
book_attrs = ('title', 'author', 'price')
book_data = [('The Great Gatsby', 'F. Scott Fitzgerald', 10.99), ('To Kill a Mockingbird', 'Harper Lee', 12.99), ('1984', 'George Orwell', 8.99)]
book_dict = [dict(zip(book_attrs, book)) for book in book_data]
print(f"Books dictionary: {book_dict}")

Books dictionary: [{'title': 'The Great Gatsby', 'author': 'F. Scott Fitzgerald', 'price': 10.99}, {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'price': 12.99}, {'title': '1984', 'author': 'George Orwell', 'price': 8.99}]

In [22]:
# Unzipping Data
name_ages = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
names, ages = zip(*name_ages)
print(f"Unzip({name_ages})= names: {names}, ages: {ages}")

Unzip([('Alice', 25), ('Bob', 30), ('Charlie', 35)])= names: ('Alice', 'Bob', 'Charlie'), ages: (25, 30, 35)

In [23]:
# Matrix transpose!
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix_t = list(zip(*matrix))
print(f"Matrix transpose({matrix})= {matrix_t}")

Matrix transpose([[1, 2, 3], [4, 5, 6], [7, 8, 9]])= [(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [27]:
# Rolling window
prices = [100, 102, 101, 105, 107, 108, 110]

# Create a rolling window of size 3 using zip
# prices[0:] is the original list
# prices[1:] is the list shifted by 1
# prices[2:] is the list shifted by 2
window_size = 3
windows = zip(prices[0:], prices[1:], prices[2:])

# Calculate the average for each window
moving_averages = [round(sum(window) / window_size, 2) for window in windows]

print(f"Three day moving average({prices}) = {moving_averages}")
# Output: [101.0, 102.66, 104.33, 106.66, 108.33]

Three day moving average([100, 102, 101, 105, 107, 108, 110]) = [101.0, 102.67, 104.33, 106.67, 108.33]

## Initialization techniques

1. Use * operator
2. List comprehension
3. Unpacking

In [ ]:
ten_zeros = [0] * 10
print(f"[0] * 10 = {ten_zeros}")

three_user_input_numbers = [int(input("Enter a number: ")) for _ in range(3)]
print(f"List of three input numbers = {three_user_input_numbers}")

repeated_numbers = [1, 1, 2, 3, 2, 2, 3, 4, -1]
set1 = set(repeated_numbers)
print(f"set({repeated_numbers}) = {set1}")

set2 = {*repeated_numbers}
print(f"{{*{repeated_numbers}}} = {set2}")

[0] * 10 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Enter a number: 1
Enter a number: 2
Enter a number: 3
List of three input numbers = [1, 2, 3]
set([1, 1, 2, 3, 2, 2, 3, 4, -1]) = {1, 2, 3, 4, -1}
{*[1, 1, 2, 3, 2, 2, 3, 4, -1]} = {1, 2, 3, 4, -1}