In [ ]:
# set operations

people = {"Jay","Jack","Lisa"}
vampires = {"Lisa","Karan","Abhijeet"}

total_population = people.union(vampires)

In [ ]:
hybrid = people.intersection(vampires)

In [ ]:
print(total_population)
print(hybrid)

{'Abhijeet', 'Jay', 'Karan', 'Lisa', 'Jack'}
{'Lisa'}

In [ ]:
# union
people | vampires # or operator

{'Abhijeet', 'Jack', 'Jay', 'Karan', 'Lisa'}

In [ ]:
# intersection
people & vampires # AND operator

{'Lisa'}

In [ ]:
# set difference
people - vampires

{'Jack', 'Jay'}

In [ ]:
vampires - people

{'Abhijeet', 'Karan'}

In [ ]:
people.difference(vampires)

{'Jack', 'Jay'}

In [ ]:
# store marks of all students
marks = [10, 20, 30, 40, 50]
students = ["A", "B", "C", "D", "E"]

s = input("Enter the student name: ")

idx = students.index(s)
print(marks[idx])

Enter the student name: D
40

In [ ]:
student_marks = [["A",10],["B",20], ["C",30], ["D",40], ["E",50]]
student_marks

[['A', 10], ['B', 20], ['C', 30], ['D', 40], ['E', 50]]

In [ ]:
dict(student_marks)

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [ ]:
s = input("Enter the student name: ")
for i in student_marks:
  if i[0] == s:
    print(i[1])
    break

Enter the student name: C
30

In [ ]:
a = {
    "random": "something which is not well defined",
    "bizzare": "something which is unusual"
}

print(type(a))

<class 'dict'>

In [ ]:
a['random']

'something which is not well defined'

In [ ]:
students = {"A":10, "B":20, "C":30, "D":40, "E":50}
students

{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [ ]:
students["C"]

30

In [ ]:
students = {"A":[10,20,30], "B":20, "C":30, "D":40, "E":50}
students

{'A': [10, 20, 30], 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [ ]:
students = {"A":{"math":10,"eng":20,"phy":30}, "B":20, "C":30, "D":40, "E":50}
students

{'A': {'math': 10, 'eng': 20, 'phy': 30}, 'B': 20, 'C': 30, 'D': 40, 'E': 50}

In [ ]:
# updation of dictionary
a = {
    "Delhi": 450,
    "Mumbai": 150,
    "Bengaluru": 120
}

In [ ]:
a["Delhi"] = 550 # Dictionaries are mutable

print(a)

{'Delhi': 550, 'Mumbai': 150, 'Bengaluru': 120}

In [ ]:
a["Hyderabad"] = 80

print(a)

{'Delhi': 550, 'Mumbai': 150, 'Bengaluru': 120, 'Hyderabad': 80}

In [ ]:
avenger = {
    "name": "Thor",
    "age": 1500,
    "weapon": "mjolnir"
}

avenger.update({"weapon":"stormbreaker"}) #update existing value

print(avenger)

{'name': 'Thor', 'age': 1500, 'weapon': 'stormbreaker'}

In [ ]:
avenger.update({"name":"Thor Odinson", "weapon":["stormbreaker", 'mjolnir'], "city":"Asgard"}) #update existing value

print(avenger)

{'name': 'Thor Odinson', 'age': 1500, 'weapon': ['stormbreaker', 'mjolnir'], 'city': 'Asgard'}

In [ ]:
avenger.get("name")

'Thor Odinson'

In [ ]:
result = avenger.get("father") # get returns None and [indexing] returns error
print(result)

None

In [ ]:
avenger.pop("city")

'Asgard'

In [ ]:
avenger

{'name': 'Thor Odinson', 'age': 1500, 'weapon': ['stormbreaker', 'mjolnir']}

In [ ]:
avenger.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
for i in avenger:
  print(i) # print keys

name
age
weapon
city

In [ ]:
for i in avenger:
  print(avenger[i]) # print keys

Thor Odinson
1500
['stormbreaker', 'mjolnir']
Asgard

In [ ]:
for i in avenger:
  print(i,":",avenger[i]) # print keys

name : Thor Odinson
age : 1500
weapon : ['stormbreaker', 'mjolnir']
city : Asgard

In [ ]:
avenger.keys()

dict_keys(['name', 'age', 'weapon', 'city'])

In [ ]:
avenger.values()

dict_values(['Thor Odinson', 1500, ['stormbreaker', 'mjolnir'], 'Asgard'])

In [ ]:
avenger.items()

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapon', ['stormbreaker', 'mjolnir']), ('city', 'Asgard')])

In [ ]:
for i,j in avenger.items():
  print(i,":",j)

name : Thor Odinson
age : 1500
weapon : ['stormbreaker', 'mjolnir']
city : Asgard

In [ ]:
#dictionary membership
"name" in avenger

True

In [ ]:
"name" in avenger.keys()

True

In [ ]:
# can numbers be keys
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    (1,2,3): "random value"
}

In [ ]:
random

{'key1': [45, 56, 78],
 'key2': {'key3': (1, 2, 3)},
 45: 'value3',
 56.78: '678',
 (1, 2, 3): 'random value'}

In [ ]:
# can numbers be keys
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    [1,2,3]: "random value"
}

TypeError: unhashable type: 'list'

In [ ]:
random[56.780]

'678'

In [ ]:
random[54 + 2.78]

'678'

In [ ]:
my_dict = {'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}
print(my_dict)

{'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}

In [ ]:
sorted(my_dict)

['apple', 'banana', 'grape', 'orange']

In [ ]:
sorted(my_dict.values())

[1, 2, 3, 5]

In [ ]:
sorted(my_dict.items())

[('apple', 2), ('banana', 3), ('grape', 1), ('orange', 5)]

In [ ]:
dict(sorted(my_dict.items()))

{'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}

In [ ]:
dict(sorted(my_dict.items(), key= lambda x: x[1]))

{'grape': 1, 'apple': 2, 'banana': 3, 'orange': 5}

In [ ]:
# given a string, count the occurence of each letter
s = "rrsssstttt"

x = {}

for i in s:
  if i in x:
    x[i] += 1
  else:
    x[i] = 1

print(x)

{'r': 2, 's': 4, 't': 4}

In [ ]:
s = "rrssssttttrrrbbbkkkllll"
dictionary ={}
for i in s:
  dictionary[i] = s.count(i) # less optimisised. less efficient
dictionary

In [ ]:
for i in s:
  print(i)

r
r
s
s
s
s
t
t
t
t

# Doubts

In [ ]:
s = {10,20,30}
s.add(10)
s

{10, 20, 30}

In [ ]:
s.pop()

10

In [ ]:
x = (1,2,3,1,2,3,4,4,5,6,6,6,6)

x_unique = list(set(x))
counter_list = [0] * (max(x_unique) + 1)
for i in x:
  counter_list[i] += 1

for i in x_unique:
  print(i, counter_list[i])

1 2
2 2
3 2
4 2
5 1
6 4