In [ ]:
print(3000)

3000

In [ ]:
print(20+30)

50

In [ ]:
print(4  +    5)

9

In [ ]:
print("India won the world cup in 2024")

India won the world cup in 2024

In [ ]:
print('India won the world cup in 2024')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-7-aa660731b330>, line 1)

In [ ]:
PRINT("will this work?") # python is case sensitive

In [ ]:
print(4 < 3)

False

In [ ]:
print("Hello class')

In [ ]:
type(.2)

float

In [ ]:
type(2.)

float

In [ ]:
type(2)

int

In [ ]:
type("2.4") # str ~ string

str

In [ ]:
type(True)

bool

In [ ]:
print(type(None))
type(1)

<class 'NoneType'>

int

In [ ]:
a = 3 + 4
print(a)

7

In [ ]:
b = 5
a + b

12

In [ ]:
a= 6
a + b

11

In [ ]:
x = 6
x= 5.2
print(x)

5.2

In [ ]:
x = " I am"
y = "Legend!"
print(x)
print(y)

 I am
Legend!

In [ ]:
print(x,y)

 I am Legend!

In [ ]:
x = 10
X = 20
print(X,x)

20 10

In [ ]:
5_pulkit = 2

SyntaxError: invalid decimal literal (<ipython-input-27-1bcd3278c009>, line 1)

In [ ]:
pulkit_5 = 2

In [ ]:
pulkit5 = 4

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-29-0879fca396a7>, line 1)

In [ ]:
_pulkit = 10

In [ ]:
_ = 10 # highly recommend not to use this

In [ ]:
x = 10
y = x
print(y)

10

In [ ]:
x = 5
print(x)
print(y)

5
10

In [ ]:
name = input()
print("Hello",name)

Noel
Hello Noel

In [ ]:
x = 3
y = 'hello'
num = y
y = 5
print(num, y)

hello 5

Input function with numeric data

In [ ]:
x = input()
y = input()
x + y # example of python's flexibility

10
5

'105'

In [ ]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

type casting

In [ ]:
x = input()
y = input()
int(x) + int(y) # example of python's flexibility

10
5

15

In [ ]:
x = float(input())
y = float(input())
x + y

10
5

15.0

In [ ]:
x = "this is a string"
int(x)

ValueError: invalid literal for int() with base 10: 'this is a string'

In [ ]:
x = "10.5"
int(x)

ValueError: invalid literal for int() with base 10: '10.5'

In [ ]:
x = 10
print(str(10))

10

In [ ]:
type(None)

NoneType

In [ ]:
int(x) = input() # doubt from the class

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-46-2a382ef7ae5e>, line 1)