**Q1. Difference of even and odd**

Write a program to find the difference between the sum of all even elements and the sum of all odd elements from the given array, A.

In [2]:
def even_odd(A):
    diff = 0
    A_even_sum = sum([x for x in A if x % 2 == 0])
    A_odd_sum = sum(A) - A_even_sum
    diff = A_even_sum - A_odd_sum
    return diff

print(even_odd([56, 63, 87, 24, 32, 13, 15, 19, 44, 52]))
print(even_odd([2, 8, 4, 6]))

11
20

**Q2. Sum the Array**

Write a program to print sum of elements of the input array A of size N.

**Note:** User is supposed to write a program from scratch to add the elements of the input array and print the result.

**Note for Python learners:** You don't need to write code for taking input. The input is already provided to you as function parameter.

In [4]:
def calculate_sum(input_list):
    # Write your code here, no need to take input
    # Input argument: input_list
    # Print the sum of elements in input_list
    print(sum(input_list))

calculate_sum([1, 2, 3, 4, 5])
calculate_sum([10, 50, 40, 80])

15
180

**Q3. Consecutive Duplicate**

Write a function to check if the given array **A** has consecutive duplicate elements or not.
Return **True** if there are consecutive duplicate elements in the list else return **False**.

Here by consecutive duplicates, we mean duplicates that are present at **consecutive indices** in the array

In [6]:
def duplicate(ls,n):
    ans = None
    ''' input:ls-List of elements and n-indicates the length of list
         output:Return ans as True or False'''

    # YOUR CODE GOES HERE
    ans = any(x == y for x, y in zip(ls, ls[1:]))


    return ans

A = [1, 2, 3, 3]
print(f"duplicate({A}) = {duplicate(A, 4)}")
A = [1, 2]
print(f"duplicate({A}) = {duplicate(A, 4)}")

duplicate([1, 2, 3, 3]) = True
duplicate([1, 2]) = False

**Q4. First Multiple**

Write a program for a given integer **x** and a list **ls** to return the **first multiple of x** that occurs in the list,
and if there isnâ€™t any multiple of x in the list then return **-1**.

**Note:** The list with elements and the integer x is already passed as an argument to the function. **User don't need to take any input**. Just perform the task on the passed arguments and **return the required result**.

In [9]:
def first_multiple(ls,x):
    ans = -1
    ''' input:ls-List of elements and x-indicates the integer
         output:Return ans from the list that is divisible by x'''

    # YOUR CODE GOES HERE
    ans = next((n for n in ls if n % x == 0), -1)


    return ans

ls = [2, 1, 2, 4, 3, 5]
x = 4
print(f"first_multiple({ls}, {x}) = {first_multiple(ls, x)}")
ls = [7, 5, 3, 17]
x = 2
print(f"first_multiple({ls}, {x}) = {first_multiple(ls, x)}")

first_multiple([2, 1, 2, 4, 3, 5], 4) = 4
first_multiple([7, 5, 3, 17], 2) = -1

**AQ1. Insert that New**

Write a program to input N numbers array, a number X and a number Y from user and insert an element Y in it at specified position X. X is based on **1-based** indexing

**Note:** When an element is inserted at position X, all elements that were already present at position >= X, gets shifted to one position right, not replaced.

In [12]:
# Your Code Goes Here
N = int(input())
A = [int(input()) for _ in range(N)]
X = int(input())
Y = int(input())
A.insert(X - 1, Y)
print(" ".join(str(n) for n in A) + " ")

5
1
2
3
4
5
1
10
10 1 2 3 4 5

**AQ2. Product of elements**

Write a program that returns the product of all elements present in the array.

**Note:** The list with elements is already passed as an argument to the function. User **don't need to take any input**. Just perform the task on the passed arguments and **return the required result**.

In [ ]:
def product(lst):
    ''' input:lst-List of elements in integer format
         output:Return the product as result.'''

    result = 1
    # YOUR CODE GOES HERE
    for n in lst:
        result *= n


    return result

**AQ3. Right Shift an Array New**

Write a program that reads an integer array **A** from input and modifies the array by shifting each element to the right by one position and by shifting the last element to the first position. Return the modified array.

In [15]:
def shift(A):
    # YOUR CODE GOES HERE
    # N = int(input())
    # A = [int(input()) for _ in range(N)]
    L = A.pop()
    A.insert(0, L)
    return A

A = [1, 2, 3, 4, 5]
print(f"shift({A}) = {shift(A)}")

shift([1, 2, 3, 4, 5]) = [5, 1, 2, 3, 4]

**AQ4. Print in Reverse New**

Write a program to print the input array **A** of size **N** in reverse order where you have to take integer N and further N elements as input from user.

In [ ]:
#Your Code Goes Here
N = int(input())
A = [int(input()) for _ in range(N)]
print(" ".join((str(n) for n in A[::-1])) + " ")

**AQ5. Negative Integers New**

Write a program to print all negative numbers from input array **A** of size **N**. Take integer N and N elements of the array as input from user.

In [ ]:
# Your Code Goes Here
N = int(input())
A = [int(input()) for _ in range(N)]
print(" ".join(str(n) for n in A if n < 0) + " ")

**AQ6. Divisible by 5 and 7**

Write a program that returns the list of elements that are present in the given list and are **divisible by 5 and 7**.

In [17]:
def divisible(A):
    # YOUR CODE GOES HERE
    A_REQ = [n for n in A if n % 35 == 0]
    return A_REQ

A = [5, 7, 70, 50, 35]
print(f"divisible({A}) = {divisible(A)}")
A = [105, 57]
print(f"divisible({A}) = {divisible(A)}")

divisible([5, 7, 70, 50, 35]) = [70, 35]
divisible([105, 57]) = [105]