**Q1. Frequency of Characters**

**Problem Description:**

Given an input string, write a program to count the frequency of each character in the string. Map the characters and their respective frequency into a dictionary and return that dictionary.

In [ ]:
def dict_freq(str1):
    '''str1 is a string
       Ouput -> A dictionary is expected to be returned'''

    # YOUR CODE GOES HERE
    freq_map = {}
    for c in str1:
        if c in freq_map:
            freq_map[c] += 1
        else:
            freq_map[c] = 1
    return freq_map

str1 = "google.com"
print(f"dict_freq('{str1}') = {dict_freq(str1)}")

dict_freq('google.com') = {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

**Q2. Sum of Values**

**Problem description**

Given a dictionary, find the sum of values of every key in the dictionary.

In [ ]:
def returnSum(dict):
    # The local variable 'sum' was shadowing the built-in sum() function,
    # causing a TypeError when trying to call an integer as a function.
    # The 'sum = 0' line is also redundant as the built-in sum() can directly
    # sum the values.
    # YOUR CODE GOES HERE
    return sum(dict.values())

dict = {'a': 100, 'b': 200, 'c': 300}
# Uncommenting the print statement to display the result of the function call.
print(f"returnSum({dict}) = {returnSum(dict)}")

returnSum({'a': 100, 'b': 200, 'c': 300}) = 600

**Q3. Update Dictionaries**

What will be the output of the following Python code snippet?

```python
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)
```

In [ ]:
bbt = {'Sheldon': 1, 'Leonard': 2}
bbt.update({'Penny': 2})
print(bbt)

{'Sheldon': 1, 'Leonard': 2, 'Penny': 2}

**Q4. Changing Attributes**

Consider the following dictionary:

```python
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}
```
How to change the ‘salary’ of ‘smit’ to 8500?

In [ ]:
freshers = {
    'student1': {'name': 'yash', 'salary': 7500},
    'student2': {'name': 'heet', 'salary': 8000},
    'student3': {'name':'smit', 'salary': 6500}
}
print(f"Before update: {freshers}")
freshers['student3']['salary'] = 8500
print(f"After update: {freshers}")

Before update: {'student1': {'name': 'yash', 'salary': 7500}, 'student2': {'name': 'heet', 'salary': 8000}, 'student3': {'name': 'smit', 'salary': 6500}}
After update: {'student1': {'name': 'yash', 'salary': 7500}, 'student2': {'name': 'heet', 'salary': 8000}, 'student3': {'name': 'smit', 'salary': 8500}}

**Q5. Members of a Dictionary**

What will be the output of the following Python code?

```python
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')
```

In [ ]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = dict1['age']

if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

This is not a member of the dictionary

**AQ1. Getting Keys is not easy!**

Consider the following dictionary:

```python
dict = {5: 'a', 10: 'b', 15: 'c'}
```

What is output of following two statements?
```pyton
print(dict[0])
print(dict.get(0))
```

In [ ]:
dict = {5: 'a', 10: 'b', 15: 'c'}
print(dict[0])
print(dict.get(0))

KeyError: 0

**AQ2. Playing with Keys**

Which option correctly represents abc, if the following python code is executed?

```python
abc = {}
abc[1] = 1
abc['1'] = 2
abc[1] = abc[1] + 1
```

In [ ]:
abc = {}
abc[1] = 1
abc['1'] = 2
abc[1] = abc[1] + 1
print(abc)

{1: 2, '1': 2}

**AQ3. List to dict**

You are given a function that takes two lists as input named keys and values respectfully. Return the dictionary such that ith index element of key list have the corresponding ith index element of values list as value.

**Note:** Lengths of lists maybe different, in that case ignore the extra elements in any list.

In [ ]:
def list_to_dict(keys, values):
  # write your code here
  return dict(zip(keys, values))

keys = [10,9,8,7,6]
values = [3,2,1,0]
print(f"list_to_dict({keys}, {values}) = {list_to_dict(keys, values)}")

**AQ4. Removing item**

Consider the dictionary:

```python
prices = {'apple': 1.50, 'banana': 0.75, 'orange': 1.25}
```

Which method(s) would you use to remove the banana key-value pair? Choose all that are correct.

```python
prices.remove('banana')
del prices['banana']
prices.clear('banana')
prices.pop('banana')
```

In [41]:
prices = {'apple': 1.50, 'banana': 0.75, 'orange': 1.25}

# prices.remove('banana')
del prices['banana']
# prices.clear('banana')
prices.pop('banana')

{'apple': 1.5, 'orange': 1.25}

**AQ5. Least frequent from back**

You are given a string of characters, these characters can be anything from alphabets to symbols. Your task is to complete the given function so that it returns the last character that repeated the least times in string. If no such character is present then it should return None

In [45]:
def count_char(str):
  # write your code here
  char_count = {}

  for c in str:
    if c in char_count:
      char_count[c] += 1
    else:
      char_count[c] = 1
  least_count = min(char_count.values(), default = 0)
  return next((c for c in reversed(str) if char_count[c] == least_count), None)

str = "aaaadfhgajshfdmmmssssmmm"
print(f"count_char('{str}') = {count_char(str)}")

count_char('aaaadfhgajshfdmmmssssmmm') = j